@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.app-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* container itself does not capture clicks */
}

.app-container button {
  pointer-events: auto; /* buttons can still be clicked */
}
